@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* primary color #eec3c3;
dark prim #e09b9b; */

:root {
    --bckg-color: #faf5ff;
    --nav-bckg-color: #ffffff;
    --logo-color: #e09b9b;
}

html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    /* background-color: #ffe3e3; */
    background-color: var(--bckg-color);
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-bckg-color);
    z-index: 99;
}


.nav_content {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a,
.ptext a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--logo-color);
    transition: 0.3s;
}

nav .logo a:hover,
.ptext a:hover {
    color: #e47272;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: #e09b9b;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #1f2937;
    transition: 0.3s;
}

ul li a:hover {
    border-color: #e09b9b;

    color: #e09b9b;
}


.intro_container {
    min-height: 100vh;
    margin: auto;
    padding: 1rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    
}

.sub_title {
    letter-spacing: 2px;
    color: #6b7280;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.ptext {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* this is a HACK do Better */
.ptext2 {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;

}
.title,
.body_of_work h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.title span,
.body_of_work h2 span {
    font-weight: 600;
}

.description {
    font-size: large;
    color: #6b7280;
    margin-bottom: 2rem;
}

.img {
    display: grid;
    place-items: center;
}


.profile_picture,
.portfolio_picture {
    display: grid;
    place-items: center;
}

.profile_picture img {
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.body_of_work {
    display: flex;
    flex-direction: column;
}

.body_of_work h2 {
    margin: 4rem 0 0;
    text-align: center;

}

.bow_container {
    margin: 0 5rem 5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8rem 2rem;
}

.project_wrapper {
    min-height: 85vh;
    display:flex;
    border-bottom: #e47272 solid 2px;
}
.portfolio_picture img {
    width: 750px;
    height: 700px;
}

.footer {
    margin: auto;
    padding: 100px 0px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    width: 1100px;
    
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.footer_button {
    /* display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
*/
} 

#scroll-up {
display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--logo-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#scroll-up a {
    color: #ffffff;
}

@media (width < 750px) {
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #ffe3e3;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    nav .checkbox {
        display: block;
    }

    .intro_container,
    .bow_container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .profile_picture {
        grid-area: 1/1/2/2;
    }

    #second_pic {
        grid-area: 4/1/3/2;
    }

}