@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Dark-Purple: #39244a;
  --Lighter-Purple: #f7eef7;
  --Light-Purple: #e1dae7;
  --Card-Background: #d1c8e3;
  --Beige: #e8d5b5;
}
